* {
  font-family: 'Roboto Slab', serif;
}


h1 {
    font-size: 70px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: aliceblue;
  }

  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
.card-header{

  background-color: rgb(63, 135, 194);
  color: aliceblue;
  
}
.card-header h4{
  color: aliceblue;
}
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(70, 108, 141);
  }
  .bg-primary {
    background-color: aliceblue!important;
  }
  .card-body{
    background-color: aliceblue;
    color: rgb(63, 135, 194);
  }
  .card-body h5{
    color: rgb(63, 135, 194);
    background-color: aliceblue;
  }
  .card-body h4{
    color: rgb(63, 135, 194);
    background-color: aliceblue;
  }
  
  .info{
    text-align: center;
  }

  .about-section {
    padding: 30px;
    text-align: center;
    color: black;
  }
  
  .container {
    padding: 0 16px;
    background-color: aliceblue;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: rgb(206, 18, 18);
  }
  /*
    .box1{
    border:3px dotted #ccc;
    margin-bottom: 10px;
    }

    .box2{
    border:3px dotted #ccc;
    margin-bottom: 10px;
    }

    .box3{
    border:3px dotted #ccc;
    margin-bottom: 10px;
    }*/

  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

li {
  font-size: 18px;
  margin-bottom: 5px;
}

#transcript-title {
  font-size: 35px;
}

#loader {
  width: 50px;
  height: 50px;
}

#main-logo {
  width: 160px;
  height: 160px;
}

#nav-logo {
  width: 70px;
  height: 70px;
}

.info{
  text-align: left;
}

#intro-text {
  color:  #333;
  line-height: 2.0;
}

hr.solid {
  border-top: 3px solid black;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 15px;
}

#scroll-button{
  width: 200px;
  height: 100px;
  font-size: x-large;
}

#intro-prompt{
  transition: opacity 1s;
}

#question-prompt{
  font-weight: bold;
}